{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-10 col-xl-8">
        <img class="profile-photo" src="static/assets/img/profile-picture.jpg">
        <h2>IT Service Desk Associate</h2>
        <p>
          Experienced IT Help Desk Technician with a proven track record in providing comprehensive technical support
          and customer service in fast-paced environments. Skilled in troubleshooting hardware and software issues,
          creating detailed documentation and training materials, and collaborating effectively with cross-functional
          teams. Adept at problem-solving, effective communication, and maintaining high levels of customer
          satisfaction.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
